<div class="container-fluid">
  <div class="row"  style="display: inline;">
    <a href="https://www.instructure.com/bridge/"><img src="Bridge_Logo_Horizontal.svg" height="100px" /></a>
    <span class="align-middle"><h1 class="mx-auto">Web Data Connector for Tableau</h1></span>
  </div>
  <div class="row">
    <!-- credential section -->
    <div class="col-sm" id="url-section">
      <form>
        <div class="form-group">
          <label for="url">URL:</label>
          <input class="form-control" type="text" id="url">
        </div>
        <div class="form-group">
          <label for="apiKey">Key:</label>
          <input class="form-control" type="text" id="apiKey">
        </div>
        <button type="button" class="btn btn-primary" id="credentialsButton">Set Credentials and
          URL</button>
      </form>
    </div>
    <!-- table section -->
    <div class="col-sm" id="api-section" style="display: none;">
      <div class="input-group my-3">
        <select class="custom-select" id="apiSelector">
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="addButton">Add</button>
        </div>
      </div>
      <div>
        <h4 id="emptyApiListMessage">No Tables Selected</h4>
        <ul class="list-group my-3" id="apiList">
        </ul>
      </div>
      <div>
        <button type="button" class="btn btn-primary" id="resetButton">Change URL and Credentials</button>
        <button type="button" class="btn btn-primary" id="submitButton">Finish</button>
      </div>
    </div>
    <!-- edit table section -->
    <div class="col-sm" id="edit-section" style="display: none;">
      <div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="tableNameTitle">Table Name</span>
          </div>
          <input type="text" class="form-control" id="tableName" aria-describedby="tableNameTitle">
        </div>
        <div class="input-group mb-3" id="requiredParameter" style="display: none;">
          <div class="input-group-prepend">
            <label class="input-group-text" for="requiredParameterSelector" id="requiredParameterTitle">Title</label>
          </div>
          <select class="custom-select" id="requiredParameterSelector">
          </select>
        </div>
        <button type="button" class="btn btn-primary" id="addParameterButton">Add Parameter</button>
        <ul class="list-group my-3" id="parameterList">
        </ul>
        <button type="button" class="btn btn-primary" id="editDoneButton">Done</button>
      </div>
    </div>
  </div>
</div>
